.add-new-login-screen{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 9999; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-new-login-screen .modal{
        width: 50%;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .add-new-login-screen .modal div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .add-new-login-screen .modal form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.add-new-login-screen .modal form input{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-new-login-screen .modal form button{
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0px;
}

.add-new-login-screen .modal form button:hover{
    background-color: #0056b3;
}
.add-new-login-screen .modal form select{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.add-new-login-screen .modal form label{
    font-size: 20px;
    margin-bottom: 10px;
}
.add-new-login-screen .modal button.closeBtn{
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;

}